<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">

  <style id="applicationStylesheet" type="text/css">

    body {
      font-family: 'Roboto', sans-serif !important;
      line-height: 1.6;
      margin: 0;
      padding: 0;
    }

    table {
      border-spacing: 0;
      width: 600px;
      margin: auto;
    }

    a {
      color: #052e16;
      display: inline-block;
      font-size: 14px;
      font-weight: 600;
      text-decoration: underline;
    }

    p {
      margin: 0;
    }
  </style>
</head>

<body>

  <table>
    <tbody>
      <!-- Enatega nav -->
      <tr>
        <td style="font-size: 6px; line-height: 10px; padding: 12px 0px 12px 0px; text-align: center;" align="center">
          <a href="https://enatega.com/">
            <img width="250"
              src="http://cdn.mcauto-images-production.sendgrid.net/c6db57d8e09f410b/92dd1499-2a9a-4f65-a4ff-87f64ef0a36a/2223x593.png" />
          </a>
        </td>
      </tr>

      <!-- Enatega header -->
      <tr>
        <td>
          <table
            style="margin:auto; background: url('http://cdn.mcauto-images-production.sendgrid.net/c6db57d8e09f410b/c7ad3f09-094e-45a1-a35a-489b395a89a3/1200x270.png'); background-size: cover; background-position: center; background-repeat: no-repeat; width: 100%;">
            <tr>
              <td style="text-align: center; padding-top: 24px;">
                <a href="https://enatega.com/">
                  <img src="https://enatega.com/wp-content/uploads/2023/12/keyIcon.png" width="40"> </a>
              </td>
            </tr>
            <tr>
              <td style="font-family: 'Roboto', sans-serif; font-size: 26px; color: #18181b; font-weight: 800; text-align: center; padding:10px 0 20px 0;">
                Verify Your Account!
              </td>
            </tr>
          </table>
        </td>
      </tr>

      <!-- details section -->
      <tr>
        <td align="center">
          <table width="100%" align="center" border="0" style="max-width: 552px; height: 104px; margin-top: 19px;">
            <tr>
              <td align="center">
                <p
                  style="font-family: 'Roboto', sans-serif; color: #18181B; text-align: center; font-size: 14px; font-style: normal; font-weight: 600; margin: 2px 0px; text-transform: uppercase;">
                  Below is your one time password</p>
              </td>
            </tr>
            <tr>
              <td align="center">
                <p
                  style="font-family: 'Roboto', sans-serif; color: #18181B; text-align: center; font-size: 16px; font-style: normal; font-weight: 400; margin: 2px 45px;">
                  we require you to verify your identity using the One-Time Password (OTP) provided below:</p>
              </td>
            </tr>
            <tr>
              <td>
                <table width='100%' height='104px' border="0" align="center" bgcolor='#F7F7F4'
                  style="border-radius: 12px; border: 1px solid rgba(26, 46, 5, 0.10); background: #F7F7F4; box-shadow: 0px 4px 8px 2px rgba(26, 46, 5, 0.06), inset 0 0 0 1px rgba(26, 46, 5, 0.10); margin: 19px;">
                  <tr>
                    <td align="center">
                      <p
                        style="font-family: 'Roboto', sans-serif; color: #18181B; font-size: 46px; font-style: normal; font-weight: 800; line-height: normal; letter-spacing: 23px;">
                        <%= params %>
                      </p>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>

      <!-- Connect with us -->
      <tr style="background: #EFFBF1;">
        <td style=" padding:30px 0">
          <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 100%;">
            <tr>
              <td>
                <h2 style="text-align: center; color: #18181b; font-size: 16px; font-family: 'Roboto', sans-serif; font-weight: 600">CONNECT
                  WITH US:</h2>
              </td>
            </tr>
            <tr>
              <td>
                <table style="margin:auto; padding: 5px 0; width: 170px;">
                  <tr>
                    <td style="padding: 0 9px;"><a href="http://www.youtube.com/@ninjascode509" target="_blank"><img
                          class="max-width" border="0"
                          style="display:block; color:#000000; text-decoration:none; font-size:16px;" width="25"
                          height="25" alt="" data-proportionally-constrained="true" data-responsive="false"
                          src="http://cdn.mcauto-images-production.sendgrid.net/c6db57d8e09f410b/e12c98f9-0a51-4918-ba99-a5e93530dc88/40x40.png"></a>
                    </td>
                    <td style="padding: 0 9px;"><a href="https://www.facebook.com/enatega" target="_blank"><img
                          class="max-width" border="0"
                          style="display:block; color:#000000; text-decoration:none; font-size:16px;" width="25"
                          height="25" alt="" data-proportionally-constrained="true" data-responsive="false"
                          src="http://cdn.mcauto-images-production.sendgrid.net/c6db57d8e09f410b/d6f01e3a-ad31-438e-b49a-fcff6fcfbecb/40x40.png"></a>
                    </td>
                    <td style="padding: 0 9px;"><a href="https://www.instagram.com/enatega.nb/" target="_blank"><img
                          class="max-width" border="0"
                          style="display:block; color:#000000; text-decoration:none; font-size:16px;" width="25"
                          height="25" alt="" data-proportionally-constrained="true" data-responsive="false"
                          src="http://cdn.mcauto-images-production.sendgrid.net/c6db57d8e09f410b/e705f1ac-2ffb-4a24-b1e4-1fef9ccb5c74/40x40.png"></a>
                    </td>
                    <td style="padding: 0 9px;"> <a href="https://twitter.com/EnategaA" target="_blank"><img
                          class="max-width" border="0"
                          style="display:block; color:#000000; text-decoration:none; font-size:16px;" width="25"
                          height="25" alt="" data-proportionally-constrained="true" data-responsive="false"
                          src="http://cdn.mcauto-images-production.sendgrid.net/c6db57d8e09f410b/c40abdbb-7c7c-4a84-89de-1769770642a5/40x40.png"></a>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td style="text-align: center">
                <a href="https://enatega.com/"
                  style="font-family: 'Lato', sans-serif; color: #18181b; font-size: 14px; font-weight: 400">www.enatega.com</a>
              </td>
            </tr>
          </table>
        </td>
      </tr>

      <!-- Footer -->
      <tr style="background: #052E16;">
        <td style="line-height:10px; padding:25px 0px 25px 0px;" align="center">
          <a href="https://enatega.com/"><img class="max-width" style="text-decoration:none;" width="160" alt="Enatega"
              data-proportionally-constrained="true" data-responsive="false"
              src="http://cdn.mcauto-images-production.sendgrid.net/c6db57d8e09f410b/510d32c0-1105-4f74-ad8b-c047a05e089f/248x58.png"
              height="37">
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</body>

</html>